<div class="add-train-container">
    <h1>Add Train</h1>
    <div class="add-train">
        <img src="../../../../../assets/add-tain.png" alt="image" class="image">
        <form (ngSubmit)="onSubmit()" class="form-container">
            <div class="form-group">
              <label for="trainName">Train:</label>
              <input type="text" id="trainName" name="trainName" class="form-control" [(ngModel)]="formData.trainName" placeholder="Enter Train name">
            </div>
            <div class="form-group">
              <label for="trainNumber">Train Number:</label>
              <input type="text" id="trainNumber" name="trainNumber" class="form-control" [(ngModel)]="formData.trainNumber" placeholder="Enter train number">
            </div>
            <div class="form-group">
              <label for="origin">Origin:</label>
              <select name="to" id="origin" name="origin" class="form-control" [(ngModel)]="formData.origin">
                <option value="" selected disabled>Destination Station</option>
                <option value="Chennai">Chennai Central</option>
                <option value="Banglore">Banglore Majestic</option>
                <option value="Hyderabad">Hyderabad Central</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Indore">Indore</option>
                <option value="Delhi">Delhi</option>
                <option value="Pune">Pune</option>
                <option value="Trivendrum">Trivendrum</option>
                <option value="Bhopal">Bhopal</option>
                <option value="Kolkata">Kolkata</option>
                <option value="varanasi">varanasi</option>
                <option value="Jaipur">Jaipur</option>
              </select>
            </div> 
            <div class="form-group">
              <label for="destination">Destination:</label>
              <select name="to" id="destination" name="destination" class="form-control" [(ngModel)]="formData.destination">
                <option value="" selected disabled>Destination Station</option>
                <option value="Chennai">Chennai Central</option>
                <option value="Banglore">Banglore Majestic</option>
                <option value="Hyderabad">Hyderabad Central</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Indore">Indore</option>
                <option value="Delhi">Delhi</option>
                <option value="Pune">Pune</option>
                <option value="Trivendrum">Trivendrum</option>
                <option value="Bhopal">Bhopal</option>
                <option value="Kolkata">Kolkata</option>
                <option value="varanasi">varanasi</option>
                <option value="Jaipur">Jaipur</option>
              </select>
            </div>
            <div class="form-group">
              <label for="departureTime">Departure Time:</label>
              <input type="time" id="departureTime" name="departureTime" class="form-control" [(ngModel)]="formData.departureTime" placeholder="Select departure time">
            </div>
            <div class="form-group">
              <label for="arrivalTime">Arrival Time:</label>
              <input type="time" id="arrivalTime" name="arrivalTime" class="form-control" [(ngModel)]="formData.arrivalTime" placeholder="Select arrival time">
            </div>
            <div class="form-group">
              <label for="price">Base Price:</label>
              <input type="number" id="price" name="price" class="form-control" [(ngModel)]="formData.price" placeholder="Enter price">
            </div>
            <div class="form-group">
              <label for="seatsAvailable">Seats Available:</label>
              <input type="number" id="seatsAvailable" name="seatsAvailable" class="form-control" [(ngModel)]="formData.seatsAvailable" placeholder="Enter seats available">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
  